<div id='header'>
    <h1 class="home" href="/">Dyanote</h1>

    <nav>
        <a href="/notes/view"
            ng-class="header.isActive('/notes/view')"
            tooltips
            tooltip-html="Home"
            tooltip-side="bottom">
            <i class="fa fa-home"></i>
        </a>
        <a href="/notes/dyagraph"
            ng-class="header.isActive('/notes/dyagraph')"
            tooltips
            tooltip-html="Dyagraph"
            tooltip-side="bottom">
            <i class="dyagraph">&nbsp;</i>
        </a>
        <a href="/notes/trash"
            ng-class="header.isActive('/notes/trash')"
            tooltips
            tooltip-html="Trash"
            tooltip-side="bottom">
            <i class="fa fa-book"></i>
        </a>
    </nav>

    <react-component
      ng-controller="searchFRPController as search"
      name="Search" props="search.props" watch-depth="reference"/>

    <div class="filler"></div>

    <div class="userButton">
        <img src="{{ header.avatar }}" alt="User picture" />
        {{ header.username }} <i class="fa fa-caret-down"></i>
        <div class="dropdown">
            <a target="_blank" href="https://github.com/MatteoNardi/dyanote-client/issues/new">Report a problem</a>
            <a ng-click="header.createBackup()">Backup notes</a>
            <a ng-click="header.restoreBackup()">Restore backup</a>
            <a ng-click="header.logout()">Logout</a>
        </div>
    </div>
</div>
