#header {
    position: fixed;
    width: @block * 12;
    z-index: 1000;
    @border: 7px;

    background-color: @dyanote-green;
    // .shadow();
    box-shadow: inset 0 -5px 10px -4px fade(black, 50%);
    .row();

    align-items: flex-end;

    border-bottom: @border solid @dyanote-yellow-dark;

    color: @dyanote-yellow-light;
    height: @gutter * 3 + @border;

    a {
        color: inherit;
        text-decoration: inherit;
        cursor: pointer;
    }

    .home {
        font: 26px @font-dyanote-serif;
        margin-left: @gutter;
    }

    .home, .userButton {
        padding-bottom: 3px;
    }


    nav {
        flex: 1 1;
        color: @dyanote-green;
        font-size: 18px;
        margin-left: @gutter*2;
        a {
            .shadow();
            box-shadow: inset 0 -5px 6px -4px fade(black, 60%);
            width: 36px;
            height: 26px;
            float: left;
            margin-left: @gutter/2;
            padding: 3px 5px;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: @dyanote-yellow-light;

            .dyagraph {
                background-image: url('images/header/dyagraph.png');
                background-repeat: no-repeat;
                background-position: center;
                display: block;
            }
        }


        a.active {
            box-shadow: 0 -5px 10px -4px fade(black, 50%);
            background-color: @dyanote-yellow-dark;
        }
    }

    .userButton {
        position: relative;
        // height: 100%;
        padding-right: @gutter;
        overflow: visible;
        align-self: flex-end;
        img {
            height: 20px;
            width: auto;
            border-radius: 3px;
            vertical-align: text-bottom;
            margin-right: 3px;
        }

        .fa-caret-down {
            margin-left: 3px;
        }

        .dropdown {
            width: 100%;
            z-index: 1000;
            margin-top: 2px;
            // width: 200px;
            color: #333;
            background-color: white;
            border: 1px solid @dyanote-yellow-dark;
            border-top: none;
            display: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 0 3px 16px fade(black, 50%);
            overflow: hidden;
            a {
                padding: @gutter/2;
                display: block;
                &:hover {
                    color: black;
                    background-color: @dyanote-yellow-light;
                }
            }
        }
        &:hover .dropdown {
            display: block;
            position: absolute;
        }
    }
}
