/*
 * Style for the Breadcrumb.
 */

@dash-length: 5px;

#breadcrumb {	
	position: fixed;
	left: 20px;
	top: @navbar-height;
	height: 100%;
	background-image:
		linear-gradient(0deg,
		                transparent,
		                transparent (@dash-length),
		                @dyanote-yellow-dark (@dash-length),
		                @dyanote-yellow-dark);
	background-size: 1px 10px;
	background-repeat: repeat-y;
}

/* Show only on large displays */
@media all and (max-width: 1020px) {
	#breadcrumb {	
		display: none;
	}
}

@media all and (min-width: 1020px) {
	#notes-container .note-container {
		margin-left: 200px;
	}
	#breadcrumb li {
		width: 200px;
	}
}

@media all and (min-width: 1120px) {
	#notes-container .note-container {
		margin-left: 300px;
	}
	#breadcrumb li {
		width: 300px;
	}
}


#breadcrumb ol {
	position: relative;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 40px 10px;
}

#breadcrumb li {
	margin: 20px 0;
	padding: 1px 30px;
	background-image:
		linear-gradient(90deg,
		                transparent,
		                transparent (@dash-length),
		                @dyanote-yellow-dark (@dash-length),
		                @dyanote-yellow-dark);
	background-size: 10px 1px;
	background-repeat: repeat-x;
	background-position: bottom;
	position: relative;
	left: -30px;
	cursor: pointer;
}

#breadcrumb p {
	color: @dyanote-green;
	margin: 0;
}

#breadcrumb li:hover  {
	background-image:
		linear-gradient(90deg,
		                transparent,
		                transparent (@dash-length),
		                @dyanote-green (@dash-length),
		                @dyanote-green);
}