/*
 * Style for the login and register box.
 */

#login-box, #register-box {
    .container;
    margin-top: @navbar-height + 30px;
    max-width: 500px;

    button {
        img {
            height: 20px;
            margin-left: 5px;
        }
    }
}
