/*
 * Style for the Search view.
 */


#searchView {
	width: 100%;
	background-color: @dyanote-yellow-light;
	padding: 70px 40px;

	label {
		display: block;
		text-align: center;
	}
	input {
		background: transparent;
		box-shadow: none;
		border: none;
		font-size: 3em;
		height: 100px;
		text-align: center;
	}
	.glyphicon-remove {
		color: @dyanote-green;
		position: absolute;
		top: 70px;
		right: 40px;
		font-size: 2em;
	}
	.glyphicon-remove:hover {
		font-size: 2.2em;
	}
}