/*
 * Style for the note's Toolbar.
 */

.toolbar {
	display: block;
	position: absolute;
	left: 540px;
	top: 30px;
	width: 150px;
	height: 440px;
	border: 1px solid @dyanote-yellow-dark;
	background-color: @dyanote-yellow;
	padding-left: 20px;


	button {
		display: block;
		margin: 10px 10px;
		width: 100px;

		span {
			margin: 0 5px;
		}
	}
}

