/* 
 * These styles are applied to the sysihtml5 iframe.
 * This file must be found under /styles/wysihtml5.css
 */

body {
	height: 100%;
	width: 100%;
	border: 0;
	font-family: Ubuntu;
	outline: none;
    resize: none;

	font-size: 14px;
    line-height: 18px;


    background-image: -moz-linear-gradient(top , transparent, transparent 16px,#eee 0px, transparent 18px); 
    background-image: -webkit-linear-gradient(top , transparent, transparent 16px,#eee 0, transparent 18px);

    -webkit-background-size:  100% 18px;
    background-size: 100% 18px;
}
