<div id="notes-container">
    <div id='breadcrumb'>
        <ol>
            <li ng-repeat="note in notes.notes" ng-click="notes.onBreadcrumbItemClicked($event, note)">
                <p>{{ notes.notesGraph.title(note) }}</p>
            </li>
        </ol>
    </div>
    <div minigraph id="minigraph"></div>


    <div class="note-container" ng-repeat="note in notes.notes">
        <div class="note">
            <h2 class="note-header">
                <input type='text' class='title'
                    ng-model="notes.title(note)"
                    ng-model-options="{ getterSetter: true }"/>
                <i class="fa fa-trash-o"
                    ng-click="notes.trash(note)"
                    tooltips
                    tooltip-title="Trash note"/>
            </h2>
            <div editor class="richTextEditor" contenteditable="true"></div>
            <div ng-include="'notes/toolbar.html'" class="toolbar"></div>
        </div>
    </div>
</div>
