<div id="notes-container">
    <div id='breadcrumb'>
        <ol>
            <li ng-repeat="note in notes.notes" ng-click="notes.onBreadcrumbItemClicked($event, note)">
                <p>{{ note.title }}</p>
            </li>
        </ol>
    </div>


    <div class="note-container" ng-repeat="note in notes.notes">
        <div class="note">
            <div class="note-header">
                <input type='text' class='title' ng-model="note.title"/>
                <span class="glyphicon glyphicon-trash" ng-click="notes.archive(note)" 
                    tooltip="Archive note"/>
            </div>
            <div editor class="richTextEditor" contenteditable="true"></div>
            <div ng-include="'notes/toolbar.html'" class="toolbar"></div>
        </div>
    </div>
</div>