
<div class="toolbar" ng-show="toolbar.show"
    style="top: {{ toolbar.Y }}px; left: {{ toolbar.X}}px">

    <button shortcut="ctrl+l" ng-click="commands.link()"
       tooltips
       tooltip-html="Create a new note and link to it.<strong>Ctrl+L</strong>"
       tooltip-placement="top">
        <i class="fa fa-link"></i>
    </button>

    <button shortcut="ctrl+b" ng-click="commands.strong()"
       tooltips
       tooltip-html="Make the selected text bold.<strong>Ctrl+B</strong>"
       tooltip-placement="top">
        <i class="fa fa-bold"></i>
    </button>

    <button shortcut="ctrl+i" ng-click="commands.em()"
       tooltips
       tooltip-html="Make the selected text italic.<strong>Ctrl+I</strong>"
       tooltip-placement="top">
        <i class="fa fa-italic"></i>
    </button>

    <button shortcut="ctrl+k" ng-click="commands.title()"
       tooltips
       tooltip-html="Make the selected text a title.<strong>Ctrl+K</strong>"
       tooltip-placement="top">
        <i class="fa fa-header"></i>
    </button>

    <button shortcut="ctrl+e" ng-click="commands.insertUnorderedList()"
       tooltips
       tooltip-html="Add a bullet list.<strong>Ctrl+E</strong>"
       tooltip-placement="top">
        <i class="fa fa-list-ul"></i>
    </button>
</div>
