<form id='login-box' role="form" ng-submit="login.login()">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="login.form.email">
        <span class="help-block label-warning">{{ login.form.emailErrorMessage }}</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="login.form.password">
        <span class="help-block label-warning">{{ login.form.passwordErrorMessage }}</span>
        <span class="help-block label-warning">{{ login.form.errorMessage }}</span>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="login.form.remember"> Remember me.
        </label>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="login.form.isLoggingIn">
        {{(login.form.isLoggingIn) && 'Loggin in...' || 'Login'}}
        <i class="fa fa-spinner fa-pulse"></i>
    </button>
    <span class="label-info">{{ login.form.successMessage }}</span>
</form>
<a href="/register">Register</a>
