
<div id="login">
    <header>
        <div class="overlay"></div>
        <h1>Dyanote, your personal Hypertext</h1>

        <div id="googleSignIn">
            <span class="label">Sign in with:</span>
            <div class="button" ng-click="login.login()">
                <span class="icon"></span>
                <span class="buttonText">Google</span>
            </div>
        </div>
    </header>

    <div id='breadcrumb'>
        <ol>
            <li><p><a href="">A wiki of your life</a></p></li>
            <li><p><a href="">Organize your notes with links</a></p></li>
            <li><p><a href="">Follow us</a></p></li>
        </ol>
    </div>

    <div class="note" id="awikiofyourlife">
        <h2>A wiki of your life</h2>
        <div class="richTextEditor">
            Imagine if your thoughts, instead of disappearing after a couple of seconds,
            <br/>went to a magic book.
            <br/>
            It would collect all the things you've done, your archievements, your grand
            <br/>ideas, your best memories.
            <br/>
            In a life, that would become a masterpiece.
            <br/>
            <br/>
            That book is called Dyanote, and by
            <a href="#links">linking<br/> your notes together</a>,
            you'll create<br/> the wiki of your life.
            <br/>
            <br/>
            Dyanote’s goal is to empower you to take
            <br/>care of your thoughts.
            <br/>
            <br/>
            <strong>Link your ideas, create a masterpiece.</strong>
            <br/>
            <br/>
        </div>
        <div class="overlay"></div>
    </div>
</div>
