<form id='login-box' name='loginForm' role="form" ng-submit="login.login(loginForm)">
    
    <!-- Email -->
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" ng-model="login.form.email" required
            class="form-control" placeholder="Enter email"  >

    </div>

    <!-- Password -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ng-model="login.form.password" required
            class="form-control" placeholder="Password">

    </div>

    <!-- Remember me -->
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="login.form.remember"> Remember me.
        </label>
    </div>

    <!-- Login -->
    <button type="submit" ng-disabled="login.form.isLoggingIn"
        class="btn btn-default">
        {{(login.form.isLoggingIn) && 'Loggin in...' || 'Login'}}
        <i ng-show="login.form.isLoggingIn" class="fa fa-spinner fa-pulse"></i>
    </button>
    
    <span ng-show="login.form.failure" class="label-info">Wrong username or password</span>
</form>
<a href="/register">Register</a>
