
<form id='register-box' name='registerForm' role="form" ng-submit="register.register(registerForm)">
    
    <!-- Email -->
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" ng-model="register.form.email" required
            class="form-control" placeholder="Enter email"  >

    </div>
    <span ng-show="register.form.alreadyInUse" class="label-info">This email address is already used</span>

    <!-- Password -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" ng-model="register.form.password" required
            class="form-control" placeholder="Password">

    </div>

    <!-- Password check -->
    <div class="form-group">
        <label for="password">Repeat password</label>
        <input type="password" ng-model="register.form.passwordCheck" required
            class="form-control" placeholder="Repeat password">

    </div>
    <span ng-show="register.form.mismatch" class="label-info">The two passwords don't match</span>

    <!-- register -->
    <button type="submit" ng-disabled="register.form.isRegistering"
        class="btn btn-default">
        {{(register.form.isRegistering) && 'Registering user...' || 'Register'}}
        <i ng-show="register.form.isRegistering" class="fa fa-spinner fa-pulse"></i>
    </button>
    
    <span ng-show="register.form.failure" class="label-info">
        Unknown error. Please report the problem in our <a href="https://github.com/MatteoNardi/dyanote-client/issues" target="blank">bug tracker</a>.
    </span>
</form>
<a href="/login">Login</a>
