
// Brand values

// Dyanote colors
@dyanote-blue:          #07a3d4;
@dyanote-green:         #002f2f;
@dyanote-yellow-light:  #efecca;
@dyanote-yellow:        #e6e2af;
@dyanote-yellow-dark:   #a7a379;

// Dyanote fonts
@font-dyanote-serif:  'Gilda Display', serif;

// Grid unit used to space and align things.
@gu: 15px;

html, body { height: 100%; }
#main {	height: 100%; }
@import "../resources/style/custom-bootstrap.less";
@import "../resources/style/custom-font-awesome.less";

// Main styling
@import "components/dyagraph/dyagraph.less";
@import "components/header/header.less";
@import "components/login/login.less";
@import "components/notes/breadcrumb.less";
@import "components/notes/editor.less";
@import "components/notes/note.less";
@import "components/notes/notes.less";
@import "components/notes/toolbar.less";
@import "components/notifications/notifications.less";
@import "components/search/search.less";
@import "components/splashscreen/splashscreen.less";
@import "components/tooltips/tooltips.less";

