

<button type="button" class="btn btn-default" ng-click="newNote()"><span class="glyphicon glyphicon-plus"></span> New</button>
<button type="button" class="btn btn-default" ng-click="applyLink()"><span class="glyphicon glyphicon-link"></span>Link</button>
<button type="button" class="btn btn-default" ng-click="applyBold()"><span class="glyphicon glyphicon-bold"></span>Bold</button>
<button type="button" class="btn btn-default" ng-click="applyItalic()"><span class="glyphicon glyphicon-italic"></span>Italic</button>
<button type="button" class="btn btn-default" ng-click="applyTitle()"><span class="glyphicon glyphicon-font"></span>Title</button>
<button type="button" class="btn btn-default" ng-click="addList()"><span class="glyphicon glyphicon-list"></span>List</button>
