

#search {
    position: relative;

    input {
        display: block;
        width: @block * 4;
        margin-left: @gutter;
        margin-bottom: 3px;
        background-color: @dyanote-yellow-light;
        border-radius: 5px;
        border: none;
        padding: 3px 15px 3px 5px;
        height: 22px;
        font-size: 1.1em;
    }

    >i {
        position: absolute;
        font-size: 18px;
        right: 8px;
        top: 2px;
        color: @dyanote-green;
        pointer-events: none;
    }
}
